.thumb0 {
    height: inherit;
    width: 13%;
    position: relative;
    /*display: block;*/
    object-fit: contain;
    /*margin: auto;*/
    margin-top: 3px;
    margin-left: 3px;
    /*margin-right: 3px;*/
    margin-bottom: 3px;
    /*margin: 30px 20px 20px 100px;*/
    /*position:relative;*/
    /*z-index: 1;*/
  }
  
  .thumbnail:hover{
    position: relative;
    z-index: 2;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}
  
    
  #clickMe{
    /*position: fixed;*/
    /*left:0%;*/
    /*z-index: 1;*/
    width: 100px;
  }
  
  #clearIndex{
    /*position: fixed;
    z-index: 1;*/
  }
  
  #images{
    position:relative;
    /*overflow: visible;*/
    width: 130vh;
    height: auto;
    align-items: center;
    margin: auto;
  text-align: center;
    /*margin-left:10.45%;*/
    /*left:13.2%;*/
    
  }
  
  #buttons{
    /*position: relative;*/
  }
  
  #searchButtons{
    display: none;
  }
  
  #searchMenus{
    /*position: relative;*/
  }
  
  #familyQuote{
    position: relative;
  }
  
  #quote1{
    font-size: 3em;
    text-align: center;
    font-variant: small-caps;
    /*font-family:inherit;*/
  }
  
  #quote2{
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
    }
    #lightboxButtons{
      position: relative;
      z-index: 3;
      height: auto;
      width: 350px;
      left: 15%;
    }
  
  #memorySave{
    position: relative;
    z-index: 3;
  }
  
  #rotate{
    position: relative;
    z-index: 3;
  }
  
  
/*#memoryTextbox{
  position: relative;
  z-index: 2;
  
}*/

/*#textArea{
  position: relative;
  z-index: 3;
}*/
  
#myDiv{
  
}
  
#info{
  
}

.hide{
display:none;
}

.show{
display:block;
}

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
/*background: rgba(0,0,0,.7);*/
/*width: 500%;*/
/*opacity: .8;*/
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 2;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:28px;
bottom: 0px;
max-height: 0%;
max-width: 0%;
/*border: 3px solid white;*/
/*box-shadow: 0px 0px 100px rgba(0,0,0,.3);*/
border: 75px solid rgba(0, 0, 0, 1);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 3px;
background: white;
position: absolute;
left: 45px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 3px;
background: white;
position: absolute;
left: 45px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
left:9%;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}



/*THIS IS FOR THE ROTATE FUNCTIONALITY*/
#rotate30 {
/*General*/
transform: rotate(30deg);
/*Firefox*/
-moz-transform: rotate(30deg);
/*Microsoft Internet Explorer*/
-ms-transform: rotate(30deg);
/*Chrome, Safari*/
-webkit-transform: rotate(30deg);
/*Opera*/
-o-transform: rotate(30deg);
/*alter opacity*/
opacity:0.8;
filter:alpha(opacity=80);
}

#rotate60 {
/*General*/
transform: rotate(60deg);
/*Firefox*/
-moz-transform: rotate(60deg);
/*Microsoft Internet Explorer*/
-ms-transform: rotate(60deg);
/*Chrome, Safari*/
-webkit-transform: rotate(60deg);
/*Opera*/
-o-transform: rotate(60deg);
/*alter opacity*/
opacity:0.6;
filter:alpha(opacity=60);
}

/*rotate 90 degrees*/
#rotate90 {
/*General*/
transform: rotate(90deg);
/*Firefox*/
-moz-transform: rotate(90deg);
/*Microsoft Internet Explorer*/
-ms-transform: rotate(90deg);
/*Chrome, Safari*/
-webkit-transform: rotate(90deg);
/*Opera*/
-o-transform: rotate(90deg);
/*alter opacity*/
opacity:0.4;
filter:alpha(opacity=40);
}






div.loadBar {
  visibility: hidden;
  position: relative;
  width: 250px;
  height: 25px;
  border: 1px solid #b0b0b0;
  margin-top: 3px;
  /* viewing purposes */
  /* margin-left: 100px; */
  /* viewing purposes */
  -webkit-box-shadow: inset 0 3px 5px 0 #d3d0d0;
  -moz-box-shadow: inset 0 3px 5px 0 #d3d0d0;
  box-shadow: inset 0 3px 5px 0 #d3d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div.loadBar span {
  display: block;
  height: 100%;
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #3c84ad;
  background: #6eb2d1;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
   background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); 
   background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); 
   background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); 
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 45px 45px;
  -moz-background-size: 45px 45px;
  -o-background-size: 45px 45px;
  background-size: 45px 45px;
}
 div.loadBar span:before {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  position: relative;
  top: 50%;
  background: rgba(0, 0, 0, 0.03);
} 
div.loadBar p {
  position: absolute;
  top: 0;
  margin: 0 10px;
  line-height: 25px;
  font-family: 'Helvetica';
  font-weight: bold;
  -webkit-font-smoothing: antialised;
  font-size: 15px;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

 @keyframes grower {
  0% {
    width: 0%;
  }
} 

 @-moz-keyframes grower {
  0% {
    width: 0%;
  }
} 

@-webkit-keyframes grower {
  0% {
    width: 0%;
  }
}

 @-o-keyframes grower {
  0% {
    width: 0%;
  }
} 
