.thumb0 {
    height: inherit;
    width: 15%;
    position: relative;
    /*display: block;*/
    object-fit: contain;
    /*margin: auto;*/
    margin-top: 3px;
    margin-left: 3px;
    /*margin-right: 3px;*/
    margin-bottom: 3px;
    /*margin: 30px 20px 20px 100px;*/
    /*position:relative;*/
    /*z-index: 1;*/
  }
  
  .thumbnail:hover{
    position: relative;
    z-index: 2;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
    
  #clickMe{
    /*position: fixed;*/
    /*left:0%;*/
    /*z-index: 1;*/
    width: 100px;
  }
  
  #clearIndex{
    /*position: fixed;
    z-index: 1;*/
  }
  
  #images{
    position:relative;
    /*overflow: visible;*/
    width: 130vh;
    height: auto;
    align-items: center;
    margin: auto;
  text-align: center;
    /*margin-left:10.45%;*/
    /*left:13.2%;*/
    
  }
  
  #buttons{
    /*position: relative;*/
  }
  
  #searchMenus{
    /*position: relative;*/
  }
  
  #familyQuote{
    position: relative;
  }
  
  #quote1{
    font-size: 3em;
    text-align: center;
    font-variant: small-caps;
    /*font-family:inherit;*/
  }
  
  #quote2{
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
    }
  
  #memorySave{
    position: relative;
    z-index: 3;
  }
  
  
.textbox{
  position: relative;
  top:90.5%;
  left:9%;
  z-index: 3;
  
}
  
#myDiv{
  
}
  
#info{
  
}

.hide{
display:none;
}

.show{
display:block;
}

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
/*background: rgba(0,0,0,.7);*/
/*width: 500%;*/
/*opacity: .8;*/
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 2;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:28px;
bottom: 0px;
max-height: 0%;
max-width: 0%;
/*border: 3px solid white;*/
/*box-shadow: 0px 0px 100px rgba(0,0,0,.3);*/
border: 75px solid rgba(0, 0, 0, 1);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 3px;
background: white;
position: absolute;
left: 45px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 3px;
background: white;
position: absolute;
left: 45px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
left:9%;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
